In [1]:
import json
import pandas as pd
import os

In [2]:
with open('../data/camosun_courses.json') as f:
    data = json.load(f)
df = pd.DataFrame(data)

In [3]:
len(df)

1220

In [4]:
df.head()

,url,code,title,description,credits,hours,Prerequisites,Equivalencies,Pre or Co-requisites
0,"{'code': 'ACCT 110 - Financial Accounting 1', ...",ACCT 110,Financial Accounting 1,Students will complete all the steps of the ac...,3,60,"{'One of': ['C in English 12', 'C in English 1...",,
1,"{'code': 'ACCT 111 - Financial Accounting 2', ...",ACCT 111,Financial Accounting 2,Preparation of cash flow statements and analys...,3,60,{'All of': ['C in ACCT 110']},,
2,"{'code': 'ACCT 161 - Financial Management', 'u...",ACCT 161,Financial Management,This course enables learners to develop the fu...,3,60,"{'One of': ['C in English 12', 'C in English 1...",,
3,"{'code': 'ACCT 207 - Managerial Accounting', '...",ACCT 207,Managerial Accounting,This course is beyond the introductory level a...,3,60,"{'One of': ['C in ACCT 110', 'C in ACCT 130', ...",,
4,"{'code': 'ACCT 210 - Financial Accounting 3', ...",ACCT 210,Financial Accounting 3,Students apply accounting principles and conce...,3,60,{'All of': ['C in ACCT 111']},,

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1220 entries, 0 to 1219
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   url                   1220 non-null   object
 1   code                  1220 non-null   object
 2   title                 1220 non-null   object
 3   description           1220 non-null   object
 4   credits               1220 non-null   object
 5   hours                 1220 non-null   object
 6   Prerequisites         1220 non-null   object
 7   Equivalencies         1220 non-null   object
 8   Pre or Co-requisites  1220 non-null   object
dtypes: object(9)
memory usage: 85.9+ KB